body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
}

header, footer {
  background-color: #154b87; 
  color: white;
  padding: 1rem;
  text-align: center;
}

nav a {
  color: #fec600;
  margin: 0 10px;
  text-decoration: none;
}

main {
  padding: 2rem;
  text-align: center;
}

form {
  max-width: 400px;
  margin: 0 auto;
  background: white;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 0 5px #ccc;
}

input, select, button {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 3px;
  border: 1px solid #ccc;
}

button {
  font-size: 18px;
  background-color: #154b87;
  color: white;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
}

footer {
  background-color: #fec600;
  padding: 10px 0;
  margin-top: 3%;
  text-align: center;
  color: #154b87;
}

.logo {
  height: 80px;
  width: 1000px;
}
